*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(79, 222, 174);
}

h1{
    color: purple;
}

#container{

    font-style: arial,sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}


input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

button{
    padding: 10px 15px;
    border-radius: 11%;
    border: none;
    font-size: 1.5rem;
    background-color: rgb(193, 8, 193);
    color: white;
    font-weight: bold;
    cursor: pointer;
    
}

button:hover{
    background-color: rgb(207, 8, 207);
}

button:active{
    background-color: rgb(236, 42, 236);
}

#diceResults{
    margin: 25px;
}

#diceImages img{
    width: 150px;
    margin: 5px;
}
